<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <%  Helpers.is_logged_in?(session) %>
    binding.pry
    
<a href="/logout"> Log out</a>
  </body>
</html>