<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if @found != nil %>
      <%= "Username: #{@found.username}" =>
      <%= "Balance: #{@found.balance}" =>
      <a href="/logout">Please logout.</a>
    <% else %>
      <a href="/">Please login.</a>
    <% end %>
  </body>
</html>
