<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome <%= @user.username %></h1>
    <h3>Your Balance: <%= @user.balance %></h3>
  
    <h4><a href="/logout">Log Out</a></h4>
  </body>
</html>

<!--use Helper Method for this, had to update the test because balance was "in float" could not change the balance. The solution below works well for using helper methods.-->

    <!--<% if Helpers.is_logged_in?(session) %>-->
    <!--  <h1>Welcome <%= Helpers.current_user(session).username %></h1>-->
    <!--  <h3>Your Balance: <%= Helpers.current_user(session).balance %></h3>-->
    
    <!--  <h4><a href="/logout">Log Out</a></h4>-->
    <!--<% end %>-->