<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">

    <%= @user.username %>
    <%= @user.password %>
    <form method="post" action="/">
    <a href="/sessions/logout" value="Log Out"> </a>
  </form>

  </body>
</html>
