<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
  <input type="text" name="username"id="username"> Welcome <%= @username %> </input>
<% binding.pry %>

    <form method="post" action="/login">
      <input type="text" name="username">  </input>

    <a href="/sessions/logout" value="Log Out"> </a>
  </form>

  </body>
</html>
