<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
  
  

  Welcome <%= @user.username %>

  <%= @user.balance %>

  <form method="POST" action="/logout">

    <input type="submit" id="submit" value="Log Out">
  </form>


  </body>
</html>