<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form method='post' action='/login'>
      <p><label for ='username'> UserName: </label>
      <input type = 'text' Name = 'usesrname' id = 'username'></p>
      <p><label for ='password'> Password: </label>
      <input type = 'password' Name = 'password' id = 'password'></p>
      <button type ='submit' value="log_in" id ="log_in">Log In</button>
    </form>

  </body>
</html>