<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
      <form action="/login" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" value="username">

      <label for="username">Password:</label>
      <input type="text" name="password" value="password">

      <label for="username">Balance:</label>
      <input type="text" name="balance" value="balance">

      <input type="submit" value="login">

  </body>
</html>