<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form method="post" action="/login">
        
        <div class="item">
            <label for="username">User name:</label>
            <input id="username" type="text" name="username" value="" />
        </div>

        <div class="item">
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" value="" />
        </div>
        
        <input type="submit" id="Submit" value="Log In">
    </form>

  </body>
</html>