<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form action='/login' method='Post'>
    <label for='username'><strong>Username:</strong> </label>

    <input type='text' id='username' name='username' value='Your username'><br>

    <label for='password'><strong>Password:</strong></label>
    <input type='text' id='password' name='password' value='Your Pasword' ><br>
<%# 
    <label for='balance '><strong>Blance:</strong></label>
    <input type='text' id='balance' name='balance ' value= > %>

    <input type='submit' value='Log In' >
    </form>
  </body>
</html>