<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <!--mnoogo lepse-->
    <form action='/login' method='POST'>
    <input type='text' name='username' placeholder='Username'>
    <input type='password' name='password' placeholder='Password'>
    <input type='submit'>

    <!--<br><lable > Username: <input type="text" name= "username"></lable>
    <br><lable > Password: <input type="text" name= "password"></lable>
    <input type="submit" id="login">-->
    </form>

  </body>
</html>