<!DOCTYPE html>
<html>
  <head>
    <h1>Please enter your login information below.</h1>
  </head>
  <body>
    <form method='POST' action='/login'>
      <label for='username'>Username: </label>
      <input type='text' name='username' id='username'>
      <label for='password'>Password: </label>
      <input type='text' name='password' id='password'>
      <input type='submit' id='login' value='Log In'>
    </form>
  </body>
</html>