<h1>Sign Up Below:</h1>

<form action='/registration' method="post">
   <p>Your username:<input type="text", name="username"></p>
   <p>Your password:<input type="text", name="password"></p>
   <p>Your balance:<input type="text", name="balance"></p>
   <button  value="submit">Sign Up</button>
</form>
